<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.macrosystem.cobranzasmoviles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.MenuPrincipal" />
        <activity
            android:name=".vista.SuspensionesActivityRestantes"
            android:label="@string/title_activity_suspensiones"
            android:parentActivityName=".vista.MenuPrincipal"
            android:theme="@style/AppTheme">

            <!-- Soporte para versiones 4.0 o menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.MenuPrincipal"></meta-data>
        </activity>
        <activity
            android:name=".vista.form_suspensiones_Activity"
            android:parentActivityName=".vista.SuspensionesActivityRestantes">

            <!-- Soporte para versiones 4.0 o menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.SuspensionesActivityRestantes"></meta-data>
        </activity>
        <activity
            android:name=".vista.SuspensionesActivitySubidas"
            android:parentActivityName=".vista.MenuPrincipal"
            android:theme="@style/AppTheme">

            <!-- Soporte para versiones 4.0 o menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.MenuPrincipal"></meta-data>
        </activity>
    </application>

</manifest>